<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Table</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h2>Appointment Table</h2>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Doctor Name</th>
                <th>Department</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {{#appointments}}
            <tr>
                <td>{{patient.name}}</td>
                <td>{{doctor.name}}</td>
                <td>{{department}}</td>
                <td>{{date}}</td>
                <td>{{time}}</td>
            </tr>
        {{/appointments}}
        </tbody>
    </table>

    <a href="/addAppointment">Schedule an appointment</a>
    <a href="/index.html">Back to Home Page</a>

</body>
</html>