<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Table</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>Patient Feedback</h2>
<table class="ui striped table">
    <thead>
    <tr>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Rating</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    {{#feedbacks}}
        <tr>
            <td>{{patient.name}}</td>
            <td>{{doctor.name}}</td>
            <td>{{rating}} Stars</td>
            <td>{{comment}}</td>
        </tr>
    {{/feedbacks}}
    </tbody>
</table>
<br>
<a href="/addFeedback">Add New Feedback</a>
<a href="/index">Back to Home Page</a>
</body>
</html>