<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Account Table</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h2>User Account Table</h2>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
        {{#userAccounts}}
            <tr>
                <td>{{userName}}</td>
                <td>{{password}}</td>
                <td>{{role}}</td>
            </tr>
        {{/userAccounts}}
        </tbody>
    </table>

    <a href="/addUserAccount">Add user account</a>
</body>
</html>
