<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Table</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>System Users</h2>
<table class="ui striped table">
    <thead>
    <tr>
        <th>Username</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    {{#userAccounts}}
        <tr>
            <td>{{userName}}</td>
            <td>{{role}}</td>
        </tr>
    {{/userAccounts}}
    </tbody>
</table>
<br>
<a href="/addUserAccount">Add New User</a> | <a href="/">Home</a>
</body>
</html>